CREATE DATABASE WebThanhLyDB;
GO

USE WebThanhLyDB;
GO

CREATE TABLE __EFMigrationsHistory (
    MigrationId NVARCHAR(150) NOT NULL PRIMARY KEY,
    ProductVersion NVARCHAR(32) NOT NULL
);

CREATE TABLE Roles (
    RoleId INT IDENTITY PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE Users (
    UserId INT IDENTITY PRIMARY KEY,
    Email NVARCHAR(255) NOT NULL UNIQUE,
    PasswordHash NVARCHAR(500) NOT NULL,
    FullName NVARCHAR(255),
    PhoneNumber NVARCHAR(20),
    RoleId INT NOT NULL,
    IsEmailConfirmed BIT DEFAULT 0,
    CreatedAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (RoleId) REFERENCES Roles(RoleId)
);

CREATE TABLE Categories (
    CategoryId INT IDENTITY PRIMARY KEY,
    Name NVARCHAR(255) NOT NULL,
    Description NVARCHAR(500)
);

CREATE TABLE Products (
    ProductId INT IDENTITY PRIMARY KEY,
    CategoryId INT NOT NULL,
    Name NVARCHAR(255) NOT NULL,
    Description NVARCHAR(2000),
    Price DECIMAL(18,2) NOT NULL,
    ImageUrl NVARCHAR(500),
    IsActive BIT DEFAULT 1,
    CreatedAt DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (CategoryId) REFERENCES Categories(CategoryId)
);

CREATE TABLE ProductVariants (
    VariantId INT IDENTITY PRIMARY KEY,
    ProductId INT NOT NULL,
    Size NVARCHAR(50),
    Color NVARCHAR(50),
    Quantity INT DEFAULT 0,
    CONSTRAINT UQ_Product_Size_Color UNIQUE (ProductId, Size, Color),
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId) ON DELETE CASCADE
);

CREATE TABLE Orders (
    OrderId INT IDENTITY PRIMARY KEY,
    UserId INT NOT NULL,
    OrderDate DATETIME DEFAULT GETDATE(),
    TotalAmount DECIMAL(18,2),
    Status NVARCHAR(50),
    ShippingAddress NVARCHAR(500),
    ReceiverName NVARCHAR(255),
    ReceiverPhone NVARCHAR(20),
    FOREIGN KEY (UserId) REFERENCES Users(UserId)
);

CREATE TABLE OrderDetails (
    OrderDetailId INT IDENTITY PRIMARY KEY,
    OrderId INT NOT NULL,
    ProductId INT NOT NULL,
    Quantity INT NOT NULL,
    UnitPrice DECIMAL(18,2) NOT NULL,
    Size NVARCHAR(50),
    Color NVARCHAR(50),
    FOREIGN KEY (OrderId) REFERENCES Orders(OrderId),
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId)
);

CREATE TABLE CartItems (
    CartItemId INT IDENTITY PRIMARY KEY,
    UserId INT NOT NULL,
    ProductId INT NOT NULL,
    Size NVARCHAR(50),
    Color NVARCHAR(50),
    Quantity INT NOT NULL,
    CONSTRAINT UQ_User_Product_Variant UNIQUE (UserId, ProductId, Size, Color),
    FOREIGN KEY (UserId) REFERENCES Users(UserId),
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId)
);

CREATE TABLE Reviews (
    ReviewId INT IDENTITY PRIMARY KEY,
    ProductId INT NOT NULL,
    UserId INT NOT NULL,
    Rating INT CHECK (Rating BETWEEN 1 AND 5),
    Comment NVARCHAR(1000),
    CreatedAt DATETIME DEFAULT GETDATE(),
    OrderId INT,
    MediaUrl NVARCHAR(MAX),
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId),
    FOREIGN KEY (UserId) REFERENCES Users(UserId),
    FOREIGN KEY (OrderId) REFERENCES Orders(OrderId)
);
